body {
	background-color: #FFFAFA;
}
h1 {
	text-align: center;
}
b {
	text-decoration: underline;
}
.head {
	font-size: 2em;
	font-weight: bold;
}
.circle {
	display: inline-block;
	border-radius: 50%;
	border: 1px solid;
	padding: 10px;
}
.addr {
	color: #4B0082;
}
.path {
	color: #FFA500;
}
.line {
	color: #20B2AA;
}
.name {
	color: #7B68EE;
}
.dump {
	background-color: #F7F7F7;
	border: 1px solid #C6C1C1;
	border-radius: 20px;
	padding: 25px 0px;
	margin: 20px 0px;
	width: 90%;	display: inline-block;
}
.num {
	color: #BDB76B;
}
.func {
	color: #8B008B;}
.img {
	width: 90%;
	height: 70%;
	object-fit: contain;
}
